*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/*ヘッダー*/

header{
  height: 70px;
  width: 100%;
  background-color:#EC715F;
}

.head-label{
  height: 70px;
  width: 1024px;
  margin: 0 auto;
  /*display: flex;*/

}

.nav-list{
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-list > :first-child {
  margin-right: auto;
}

.nav-list-item{
  font-size:16px;
  color:#FAFAFA;
  list-style: none;
  margin-left: 30px;
  margin-right: 30px;
}

/*リンクレイアウト*/
.nav-list-item > a{
   color:#FAFAFA;
   text-decoration: none;
}


/*メインビジュアル*/

.lorem-lpsum{
  height: 650px;
  width: 100%;
  background-image: url(img/mv.png);
  background-size:cover;
  background-position: center;

}

.lorem-lpsum-list{
  text-align: center;
  color: #FAFAFA;
}

.lorem-lpsum-text1{
  padding-top: 200px;
  font-size: 64px;
  margin-bottom: 10px;
}

.lorem-lpsum-text2{
  font-size: 20px;
}

.portfolio{
  height: 841px;
  width: 100%;
  background-color:#ECEFF1;

}

.portfolio-text{
  height: 841px;
  width: 920px;
  /*background-color:#3366FF;*/
  padding-top: 90px;
  padding-bottom: 90px;
  margin: 0 auto;
  color: #000000;
  text-align: center;
}

.text-item1{
  font-size: 32px;
  padding-bottom: 8px;
}

.text-border{
  display: inline-block;
  width: 70px;
  border-bottom: 3px #EC715F solid;
}

.text-item2{
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.portfolio-item3{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blog-image{
  height: 250px;
  width: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.portfolio-item3 > :nth-child(3){
  margin-right: 0px;
}
.portfolio-item3 > :nth-child(6){
  margin-right: 0px;
}

.feature-text{
  height: auto;
  width: 980px;
  padding-top: 90px;
  padding-bottom: 90px;
  margin: 0 auto;
  text-align: center;
}

.feature-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 90px;
}

.feature-item{
  height: auto;
  width: 320px;
  margin-right: 10px;
}

.feature-title{
  padding-top:10px;
  padding-bottom:10px;
  font-size: 20px;
  color:#000000;
}

.feature-comment{
  font-size: 16px;
  color:#000000;
}

.feature-box > :nth-child(3){
  margin-right: 0px;
}

.profile{
  height: 581px;
  width: auto;
  background-color: #ECEFF1;
}

.profile-text{
  height: 581px;
  width: 1024px;
  /*background-color:#00FFFF;*/
  padding-top: 90px;
  padding-bottom: 90px;
  margin: 0 auto;
  text-align: center;
}

.profile-box{
  height: 250px;
  width: 1024px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.profile-item{
  height: 250px;
  width: 512px;
}

/*①画像の編集*/
.blog-image{
  height: 250px;
  width: 250px;
  border-radius:90%;
}

/*②profile-areaの編集*/
.profile-box > :nth-child(2){
  text-align: left;
}

/*フォントサイズと色*/
.profile-filed1{
  font-size:20px;
  color:#000000;
  margin-bottom: 5px;
}

.profile-filed2{
  font-size:16px;
  color:#000000;
}

.profile-area > :nth-child(2){
  margin-bottom: 20px;
}

.contact-text{
  height: 506px;
  width: 800px;
  /*background-color:#800080;*/
  padding-top: 90px;
  padding-bottom: 90px;
  margin: 0 auto;
  text-align: center;
}

.contact-box{
  height: 80px;
  width: 800px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-item{
  height: 80px;
  width: 400px;
  text-align: center;
}

.contact-area{
  /*text-align: justify;*/
  /*text-justify: inter-ideograph;*/
  color:#000000;
  margin-bottom: 20px;
}
.contact-area h3{
  font-size: 20px;
  margin-bottom: 5px;
}

.contact-item h3{
  font-size: 20px;
  margin-bottom: 5px;
}

.contact-icon{
  margin-right: 20px;
}


footer{
  height: 60px;
  width: 100%;
  background-color:#EC715F;
  display:table;
  text-align: center;
}

.footer-text{
  font-size:16px;
  color:#FAFAFA;
  display:table-cell;
  vertical-align:middle;
}

/*.model{*/
/*  height: 400px;*/
/*  width: 100%;*/
/*  background-color: #EEEEEE;*/
/*}*/

/*.mode2{*/
/*  height: 400px;*/
/*  width: 100%;*/
/*}*/

/*.mode3{*/
/*  height: 400px;*/
/*  width: 100%;*/
/*  background-color: #EEEEEE;*/
/*}*/